---
http_interactions:
- request:
    method: get
    uri: http://api.cbssports.com/fantasy/players/list?SPORT=football&response_format=json&version=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Nncoection:
      - close
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: '{"body":{"players":[{"bye_week":"8,18,19,20,21","firstname":"","photo":"http://sports.cbsimg.net/images/football/nfl/players/170x170/1975.png","position":"TQB","icons":{"headline":"49ers''
        Colin Kaepernick: Still facing uncertain NFL future"},"lastname":"49ers","elias_id":"515","pro_status":null,"fullname":"49ers","id":"1975","pro_team":"SF"},{"bye_week":"8,18,19,20,21","firstname":"","photo":"http://sports.cbsimg.net/images/football/nfl/players/170x170/2125.png","position":"D","icons":{"headline":"49ers''
        Chris Jones: Re-signs with 49ers"},"lastname":"49ers","elias_id":"215","pro_status":null,"fullname":"49ers","id":"2125","pro_team":"SF"},{"bye_week":"8,18,19,20,21","firstname":"","photo":"http://sports.cbsimg.net/images/football/nfl/players/170x170/2025.png","position":"ST","lastname":"49ers","elias_id":"315","pro_status":null,"fullname":"49ers","id":"2025","pro_team":"SF"},{"bye_week":"8,18,19,20,21","firstname":"","photo":"http://sports.cbsimg.net/images/football/nfl/players/170x170/1925.png","position":"DST","icons":{"headline":"49ers''
        Chris Jones: Re-signs with 49ers"},"lastname":"49ers","elias_id":"415","pro_status":null,"fullname":"49ers","id":"1925","pro_team":"SF"},{"bye_week":"13,18,19,20,21","firstname":"Isaako","photo":"http://sports.cbsimg.net/images/players/unknown-player-170x170.png","position":"DL","lastname":"Aaitui","elias_id":"AAI622937","pro_status":"A","fullname":"Isaako
        Aaitui","id":"1905948","pro_team":"TEN"},{"bye_week":"10,19,20,21","firstname":"Jared","photo":"http://sports.cbsimg.net/images/football/nfl/players/170x170/1700530.png","position":"WR","lastname":"Abbrederis","age":26,"elias_id":"ABB650964","pro_status":"A","fullname":"Jared
        Abbrederis","id":"1700530","pro_team":"DET"},{"bye_week":"13,18,19,20,21","firstname":"Mehdi","photo":"http://sports.cbsimg.net/images/players/unknown-player-170x170.png","position":"DL","icons":{"injury":"Ankle:
        Questionable for the start of training camp"},"lastname":"Abdesmad","age":25,"elias_id":"ABD171953","pro_status":"A","jersey":"68","fullname":"Mehdi
        Abdesmad","id":"1860783","pro_team":"TEN"},{"bye_week":"8,19,20,21","firstname":"Isa","photo":"http://sports.cbsimg.net/images/football/nfl/players/170x170/1891893.png","position":"DB","icons":{"injury":"Shoulder:
        Questionable for the start of training camp","headline":"Isa Abdul-Quddus:
        Will be waived by Dolphins"},"lastname":"Abdul-Quddus","age":27,"elias_id":"ABD688172","pro_status":"A","jersey":"24","fullname":"Isa
        Abdul-Quddus","id":"18[...]
