---
http_interactions:
- request:
    method: get
    uri: http://api.cbssports.com/fantasy/pro-teams?SPORT=football&response_format=json&version=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Nncoection:
      - close
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: '{"body":{"pro_teams":[{"abbr":"ARI","nickname":"Cardinals","name":"Arizona","conf":"NFC"},{"abbr":"ATL","nickname":"Falcons","name":"Atlanta","conf":"NFC"},{"abbr":"BAL","nickname":"Ravens","name":"Baltimore","conf":"AFC"},{"abbr":"BUF","nickname":"Bills","name":"Buffalo","conf":"AFC"},{"abbr":"CAR","nickname":"Panthers","name":"Carolina","conf":"NFC"},{"abbr":"CHI","nickname":"Bears","name":"Chicago","conf":"NFC"},{"abbr":"CIN","nickname":"Bengals","name":"Cincinnati","conf":"AFC"},{"abbr":"CLE","nickname":"Browns","name":"Cleveland","conf":"AFC"},{"abbr":"DAL","nickname":"Co[...]
