---
http_interactions:
- request:
    method: get
    uri: http://api.cbssports.com/fantasy/players/search?SPORT=football&name=Carson%20Wentz&response_format=json&version=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Nncoection:
      - close
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: '{"body":{"players":[{"bye_week":"4,18,19,20,21","firstname":"Carson","photo":"http://sports.cbsimg.net/images/football/nfl/players/170x170/1907522.png","position":"QB","icons":{"headline":"Eagles''
        Carson Wentz: Dealt with elbow pain in 2016"},"lastname":"Wentz","photo_url":"http://sports.cbsimg.net/images/football/nfl/players/170x170/1907522.png","age":24,"elias_id":"WEN615770","pro_status":"A","jersey":"11","fullname":"Carson
        Wentz","id":"1907522","pro_team":"PHI"}]},"uriAlias":"/players/search","statusMessage":"OK","uri":"/players/search","statusCode":200}'
  recorded_at: Mon, 20 Mar 2017 15:24:02 GMT
recorded_with: VCR 3.0.3
